frame#awesome * {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 10px;
    border-color: transparent;
}

box#vbox {
    padding-right: 20px;
}

#sidebar label {
    font-size: 14px;
    font-weight: 500;
    padding-left: 15px;
    padding-right: 15px;
}

label#title {
    font-size: 20px;
    font-weight: 600;
}